html,
body,
#root,.content {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Acumin Pro", sans-serif !important;
}

.blanket{
  height: 100vh;
  background: rgba(0,0,70,0.8);

}

#root{
  min-height: 100vh;
}

#spin-me {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 149px;
  height: 149px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#boot-logo {
  height: 50vh;
  width: 50vw;
  object-fit: contain;
  object-position: center;
}

.relative {
  position: relative;
}

/*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/

.push-down {
  margin-top: 90px;
}
.arrow {
  height: 26px !important;
  width: 17px !important;
  object-fit: contain !important;
  object-position: 0px 15px !important;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}



.hamburger-box {
  width: 40px;
  height: 60px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 20px !important;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
* Squeeze
*/
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  background:  #F2994A;
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  background:  #F2994A;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    background:  #F2994A;
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 30px !important;
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 1;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  background:  #F2994A ;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  background:  #F2994A;
}
